*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kiwi Maru', sans-serif;
}

body {
  background: rgb(131,58,180);
  background: linear-gradient(315deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background-repeat: no-repeat;
  animation: change 30s ease-in-out infinite;
  background-size: 400% 400%;
  max-height: 100vh;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

nav {
  display: inline-flex;
  padding: 10px;
  width: 100%;
}

nav p {
  width: 50%;
}

.highscores {
  text-align: left;
  margin-left: 1em;
  font-size: 1.25rem;
}

.timer {
  text-align: right;
  margin-right: 1em;
}

main {

  font-size: 2rem;
}

.intro {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5em;
}

.intro p {
  font-size: 1.25rem;
}

.intro h1, p {
  text-align: center;
  width: 100%;
  padding: 5px 0px;
}

.intro button {
  margin-top: 15px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 10px;
}

.intro button:hover {
  background-color: #fff;
  color: #333;
}

section {
  padding: 0 10%;
}

#begin {
  display: none;
}

#end {
  display: none;
}

.begin, .end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15%;
  min-width: 100%;
}

#initials {
  margin-left: 110px;
}

#submit {
  position: relative;
  top: 90px;
  right: 130px;
  background-color: #333;
  color: #fff
}

#question, #choices, #answer {
  width: 100%;
  text-align: center;
  margin: 15px 15px;
  text-transform: uppercase;
}

#complete, #score {
  width: 100%;
  text-align: center;
  margin: 15px;
}

#complete {
  margin-top: 8em;
}

#submit {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
}

#submit:hover {
  color: #fff;
  background-color: #333;
}

@media only screen and (max-width: 500px) {
  .intro {
    font-size: 1rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


